{
    "extends": "airbnb",
    "rules":{
        "no-console":"off",
        "import/extensions": "off",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]  ,
        "no-param-reassign": "off",
        "no-underscope-dangle": "off"
    }
}